@import "common";
@include common(#93C1A5);
@include footer;
@include hr(#93C1A5);
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap');
@import "pop-up";
section {
    padding-top: 70px;
    @include h-1;
    @include sns;
}

.disc-wrapper {
    width: 70%;
    margin: 0 auto;
    margin-top: 80px;
    // font-family: "M PLUS Rounded 1c";
    .disc-content {
        display: flex;
        margin-bottom: 150px;
        .disc-text {
            width: 70%;
            span {
                font-size: 2.0rem;
                display: inline-block;
                margin-bottom: 40px;
                font-family: $ariblk;
            }
            ul {
                margin-left: 32%;
                font-family: $jm;
                li {
                    font-size: 1.5rem;
                    text-align: left;
                    margin-bottom: 10px;
                }
            }
            p {
                width: 72%;
                margin: 0 auto;
                margin-top: 60px;
                font-size: 1.2rem;
                text-align: left;
                line-height: 45px;
                letter-spacing: 1px;
                font-family: $jm;
            }
            .text-top {
                line-height: 35px;
            }
            .text-bottom {
                margin-top: 10px;
                line-height: 35px;
            }
            .mantan-btn {
                width: 150px;
                padding: 10px 15px;
                border-radius: 25px;
                background-color: white;
                color: #93C1A5;
                position: relative;
                top: 17px;
                left: -22%;
                transition: .5s;
                border: 1px solid #93C1A5;
            }
            .mantan-btn:hover {
                background-color: #93C1A5;
                color: white;
                border: 1px solid white;
            }
        }
        .img {
            display: flex;
            flex-direction: column;
            h2 {
                font-size: 2.5rem;
                margin-bottom: 30px;
                letter-spacing: 3px;
                font-family: $ariblk;
            }
            img {
                width: auto;
                height: 35vw;
            }
            span {
                cursor: pointer;
                background-color: #666666;
                display: inline-block;
                width: 170px;
                padding: 15px 20px;
                border-radius: 25px;
                margin: 0 auto;
                margin-top: 30px;
                font-size: 1.5rem;
                border: 1px solid #666666;
                transition: .5s;
            }
            span:hover {
                background-color: #93C1A5;
                color: #666666;
                border: 1px solid #666666;
            }
            .music-link {
                display: none;
            }
        }
    }
}

.left {
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
    transform: translateX(-30px);
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
}

.left.on {
    opacity: 1.0;
    filter: alpha(opacity=100);
    -moz-opacity: 1.0;
    transform: translateX(0);
}

.right {
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
    transform: translateX(30px);
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
}

.right.on {
    opacity: 1.0;
    filter: alpha(opacity=100);
    -moz-opacity: 1.0;
    transform: translateX(0);
}

@media screen and (min-width:525px) and(max-width:1000px) {
    @include sp_common;
    section {
        h1 {
            letter-spacing: 0;
        }
    }
    .g-navi-sp {
        right: 5%;
    }
    .disc-wrapper {
        .disc-content {
            flex-direction: column!important;
            .disc-text {
                width: 100%;
                margin: 0 auto;
                margin-top: 30px;
                ul {
                    width: 50%;
                    margin: 0 auto;
                }
                p {
                    width: 100%;
                }
            }
        }
        .right {
            flex-direction: column-reverse!important;
        }
    }
    .mantan-btn {
        top: -30px!important;
        left: 24%!important;
    }
    .img {
        img {
            height: 70vw!important;
        }
    }
    .pop-up-wrapper {
        width: 90vw!important;
        .back-btn {
            right: 2vw;
        }
        .link-correct {
            a {
                margin-bottom: 40px!important;
            }
        }
    }
}

@media screen and(max-width:525px) {
    html {
        font-family: $jm;
    }
    .left-name-wrapper {
        display: none;
    }
    @include sp_nav_sns;
    html {
        font-size: 12px;
    }
    section {
        h1 {
            letter-spacing: 0;
            font-size: 3.5rem!important;
        }
    }
    .disc-wrapper {
        .disc-content {
            flex-direction: column!important;
            .img {
                h2 {
                    margin-bottom: 15px;
                }
                img {
                    height: 70vw;
                }
                span {
                    margin-top: 15px;
                }
            }
            .disc-text {
                width: 100%;
                margin: 0 auto;
                margin-top: 30px;
                span {
                    margin-bottom: 15px;
                }
                ul {
                    width: 70%;
                    margin: 0 auto;
                }
                p {
                    width: 100%;
                    line-height: 30px;
                    margin-top: 30px;
                }
            }
        }
        .right {
            flex-direction: column-reverse!important;
        }
    }
    .pop-up-wrapper {
        width: 90vw!important;
        .back-btn {
            right: 2vw;
        }
        .link-correct {
            margin-top: 40px!important;
            a {
                margin-bottom: 40px!important;
                font-size: 1.5rem!important;
            }
        }
    }
}