@import "common";
@include common(#E89B6B);
@include hr(#E89B68);
section {
    padding-top: 70px;
    @include h-1;
    @include sns;
    .teaser {
        font-size: 3.0rem;
        align-items: center;
        margin-bottom: 50px;
        font-family: $ariblk;
        letter-spacing: 3px;
    }
    .movie-wrapper {
        width: 70%;
        margin: 0 auto;
        margin-top: 80px;
        font-family: $jm;
        .movie {
            background-color: rgb(22, 22, 22);
            display: inline-block;
            position: relative;
            margin-bottom: 200px;
            img {
                width: auto;
                height: 500px;
                margin: 0 auto;
                opacity: 0.4;
                display: block;
            }
            .movie-title {
                width: 50%;
                margin: 0 auto;
                position: absolute;
                text-align: center;
                left: 25%;
                top: 40%;
                font-family: $jm;
                font-size: 2.0rem;
                h2 {
                    font-family: $jm;
                    opacity: 0.8;
                    width: 90%;
                    margin: 0 auto;
                }
                .sircle {
                    border: 1px solid white;
                    width: 90px;
                    margin: 0 auto;
                    height: 90px;
                    border-radius: 50%;
                    position: relative;
                    top: -25px;
                    display: block;
                    transition: 0.5s;
                    .triangle {
                        position: relative;
                        top: 47px;
                        left: -22%;
                        .line {
                            border: 0.5px solid white;
                            width: 50px;
                            display: inline-block;
                            position: relative;
                            transition: 0.5s;
                        }
                        .left {
                            transform: rotate(90deg);
                            position: absolute;
                            left: 23px;
                            top: -5px;
                        }
                        .top {
                            transform: rotate(30deg);
                            position: absolute;
                            top: -18px;
                        }
                        .bottom {
                            transform: rotate(-30deg);
                            position: absolute;
                            top: 7px;
                        }
                    }
                }
                .sircle:hover {
                    border-color: #E89B6B;
                    .triangle {
                        .line {
                            border-color: #E89B6B;
                        }
                    }
                }
            }
        }
    }
}

@include footer;
.left {
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
    transform: translateX(-30px);
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
}

.left.on {
    opacity: 1.0;
    filter: alpha(opacity=100);
    -moz-opacity: 1.0;
    transform: translateX(0);
}

.right {
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
    transform: translateX(30px);
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
}

.right.on {
    opacity: 1.0;
    filter: alpha(opacity=100);
    -moz-opacity: 1.0;
    transform: translateX(0);
}

@media screen and (min-width:525px) and (max-width:1000px) {
    @include sp_common;
    .g-navi-sp {
        right: 4%;
    }
    .movie {
        margin-bottom: 100px!important;
    }
    .movie img {
        width: 100%!important;
        height: auto!important;
    }
    .movie-title {
        width: 60%!important;
        margin: 0 auto!important;
        position: absolute;
        text-align: center;
        left: 23%!important;
        top: 40%!important;
        font-family: $jm;
        font-size: 1.5rem!important;
    }
}

@media screen and (max-width:525px) {
    @include sp_common;
    @include sp_nav_sns;
    .movie {
        margin-bottom: 50px!important;
    }
    .movie img {
        width: 100%!important;
        height: auto!important;
    }
    .movie-title {
        width: 60%!important;
        margin: 0 auto!important;
        position: absolute;
        text-align: center;
        left: 22%!important;
        top: 40%!important;
        font-family: $jm;
        font-size: 1.5rem!important;
        .sircle {
            width: 60px!important;
            height: 60px!important;
            span {
                width: 30px!important;
            }
            .triangle {
                .left {
                    left: 17px!important;
                    top: -20px!important;
                }
                .top {
                    top: -27px!important;
                    left: 30px!important;
                }
                .bottom {
                    top: -12px!important;
                    left: 30px!important;
                }
            }
        }
        h2 {
            position: relative;
            top: -12px;
        }
    }
}