@import "common";
@include common(#97CBD5);
@include footer;
@include hr(#97CBD5);
section {
    padding-top: 70px;
    @include h-1;
    .news-wrapper {
        width: 70%;
        margin: 0 auto;
        ul {
            margin-top: 70px;
            li {
                border-bottom: 2px solid white;
                display: flex;
                margin-bottom: 80px;
                padding-bottom: 10px;
                font-family: Arial Black;
                font-weight: 900;
                p {
                    font-size: 1.5rem;
                    line-height: 45px;
                    margin-right: 10%;
                    width: 10%;
                    text-align: left;
                }
                h2 {
                    font-size: 2.3rem;
                    width: 80%;
                    text-align: left;
                }
            }
        }
    }
    @include sns;
}

@media screen and (min-width:525px) and(max-width:1000px) {
    @include sp_common;
    .news-wrapper {
        ul {
            li {
                flex-direction: column;
                h2 {
                    width: 100%!important;
                    font-size: 1.8rem!important;
                }
            }
        }
    }
}

@media screen and(max-width:525px) {
    .left-name-wrapper {
        display: none;
    }
    @include sp_nav_sns;
    .news-wrapper {
        ul {
            li {
                flex-direction: column;
                h2 {
                    width: 100%!important;
                    font-size: 1.3rem!important;
                }
            }
        }
    }
}